<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="classes" >
    <test name="first">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.automationexercise.UserLoginTest"/>
            <class name="com.automationexercise.UserRegistrationTest"/>
        </classes>
    </test>

</suite>